body{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.main{
    width: 1000px;
    height: 400px;
    display: flex;
    /* flex-wrap: wrap; */
}
.box1{
    width: 33%;
    height: 400px;
    background-color: rgb(227,136,38);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 50px;
}
.box2{
    width: 33%;
    height: 400px;
    background-color: rgb(0,105,112);
    padding: 50px;
}
.box3{
    width: 33%;
    height: 400px;
    background-color: rgb(0,66,65);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 50px;
}
#image1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name1{
    color: white;
    margin-top: 20px;
}
.para1{
    color: white;
    margin-top: 30px;
}
.but1{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: yellowgreen;
    margin-top: 50px;
}
#image2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name2{
    color: white;
    margin-top: 20px;
}
.para2{
    color: white;
    margin-top: 30px;
}
.but2{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: yellowgreen;
    margin-top: 50px;
}
#image3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name3{
    color: white;
    margin-top: 20px;
}
.para3{
    color: white;
    margin-top: 30px;
}
.but3{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: yellowgreen;
    margin-top: 50px;
}